{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Operator Dashboard{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
       <div class="middle">
         <div class="inner">
           <div class="center"> 

                                <table class="table table-striped table-bordered">
                                    <thead>
                                      <tr>
                                        <th width="15%"> Id </th>  
                                        <th width="15%"> Нэр </th>                 
                                        <th width="30%"> Регистер </th>
                                        <th width="15%"> Утас </th>
                                        <th width="15%"> Иргэний үнэмлэхний дугаар </th>
                                        <th width="15%"> Цахим шуудангийн хаяг </th>
                                        <th width="30%"> Хаяг </th>
                                        <th width="15%"> Холбоотой хүний утас </th>
                                        <th width="30%"> Гэрлэсэн эсэх </th>
                                        <th width="15%"> Өрхийн орлого </th>
                                        <th width="15%"> Өрхийн гишүүний орлого </th>
                                        <th width="15%"> Боловсролын түвшин </th>
                                        <th width="15%"> Ажилтай эсэх </th>
                                        <th width="15%"> Компаны нэр </th>
                                        <th width="15%"> Энэ компанид ажилсан жил </th>
                                        <th width="15%"> Ажилсан байгууллагын тоо </th>
                                        <th width="15%"> Орлогын үүсвэр </th>
                                        <th width="15%"> Сарын орлого </th>
                                        <th width="15%"> Өмнө зээл авч байсан эсэх </th>
                                        <th width="15%"> Идэвхтэй зээл байгаа эсэх </th>
                                        <th width="15%"> Нийт идэвхтэй зээл </th>
                                        <th width="15%"> Интернет дансны код </th>
                                        <th width="15%"> Засах </th>
                                        <th width="15%"> Устгах </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                  
                                       
                                          <tr>
                                            <td> {{ users.id }} </td> 
                                            <td> {{ users.full_name }} </td>                                                
                                      
                                            <td>
                                          
                                              {{ users.register_number }}
                                            </td>
                                            <td>
                                              {{ users.phone_number }}
                                            </td>
                                            <td>
                                              {{ users.civil_number }}
                                            </td>
                                            <td>
                                              {{ users.email }}
                                            </td>
                                            <td>
                                              {{ users.address }}
                                            </td>
                                            <td>
                                              {{ users.relate_phone }}
                                            </td>
                                            <td>
                                              {{ users.married }}
                                            </td>
                                            <td>
                                              {{ users.home_income }}
                                            </td>
                                            <td>
                                              {{ users.home_member_income }}
                                            </td>
                                            <td>
                                              {{ users.educational_level }}
                                            </td>
                                            <td>
                                              {{ users.is_job }}
                                            </td>
                                            <td>
                                              {{ users.company_name }}
                                            </td>
                                            <td>
                                              {{ users.this_company_worked_year }}
                                            </td>
                                            <td>
                                              {{ users.worked_organ_number }}
                                            </td>
                                            <td>
                                              {{ users.income_source }}
                                            </td>
                                            <td>
                                              {{ users.month_income }}
                                            </td>
                                            <td>
                                              {{ users.is_before_loan }}
                                            </td>
                                            <td>
                                              {{ users.is_activate_loan }}
                                            </td>
                                            <td>
                                              {{ users.total_activate_loan }}
                                            </td>
                                            <td>
                                              {{ users.internet_account_code }}
                                            </td>
                                            <td>
                                                    <a href="{{ url_for('home.edit_user', id=users.id) }}">
                                                      <i class="fa fa-pencil"></i> Засах
                                                    </a>
                                            </td>
                                            <td>
                                                    <a href="{{ url_for('home.delete_user', id=users.id) }}">
                                                      <i class="fa fa-trash"></i> Устгах
                                                    </a>
                                            </td>
                                          </tr>
                                        
                                 
                                    </tbody>
                                </table>
                  </div>                                                     
                </div>
           </div>   
         </div>
    </div>
  {% endblock %}