{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Операторууд</h1>
        {% if employees %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Нэр </th>                 
                  <th width="30%"> Эрх </th>
                  <th width="15%"> Олгох </th>
                  <th width="15%"> Засах </th>
                  <th width="15%"> Устгах </th>
                </tr>
              </thead>
              <tbody>
              {% for employee in employees %}
                {% if employee.is_admin %}
                    <tr style="background-color: #aec251; color: white;">
                        <td> <i class="fa fa-key"></i> Admin </td>
                        <td> N/A </td>                        
                        <td> N/A </td>
                        <td> N/A </td>
                        <td> N/A </td>
                    </tr>
                {% else %}
                    <tr>
                      <td> {{ employee.first_name }} {{ employee.last_name }} </td>
                      
                      <td>
                        {% if employee.role %}
                          {{ employee.role.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        <a href="{{ url_for('admin.assign_employee', id=employee.id) }}">
                          <i class="fa fa-user-plus"></i> Олгох
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('admin.edit_employee', id=employee.id) }}">
                          <i class="fa fa-pencil"></i> Засах
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('admin.delete_employee', id=employee.id) }}">
                          <i class="fa fa-trash"></i> Устгах
                        </a>
                      </td>
                    </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        
        <div style="text-align: center">
          {% else %}
            <div style="text-align: center">
              <h3> Оператор нэмэгдээгүй байна. </h3>
              <hr class="intro-divider">
          {% endif %}
            <a href="{{ url_for('admin.register') }}" class="btn btn-default btn-lg">
              <i class="fa fa-plus"></i>
               Оператор нэмэх
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
